*{
    padding: 0;
    margin: 0;
}
body{
    background-color: black;
    display: flex;
    justify-content: center;
}
.container{
    margin-top: 11%;
    background-color: aqua;
    height: 300px;
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 20px;
}
p{
    width: 550px;
    font-size: 20px;
}
button{
    background-color: black;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 12px;
    font-size: 15px;
    cursor: pointer;
}
h1{
    font-size: 50px;
}